.login{
    width: 100%;
    height: 100%;
    background-image: url('./images/login.jpg') ;
    background-size: 100% 100%;
}
.head{
    width: 300px;
    height: 40px;
    font-size: 30px;
    color: black;
    margin: 0px auto;
    padding-top: 30px;
}
.content {
    width: 550px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 70px auto;
    padding: 40px;

}

p{
    width: 100%;
    height: 40px;
    color: crimson;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}
.login-form-button{
    width: 100%;
}
.re{
    font-size: 17px;
    color: rgb(39, 202, 80);
    cursor: pointer;
}